<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style>
		  a:hover, a:visited, a:active,a:link { text-decoration: none; }
		  body { font-family: 'Roboto', sans-serif; }
		  h6{ font-size: 9pt; }
		</style>
	</head>
	<body>

		<div id="divsobre" class="col-lg-12" >
			<h6>Publicado:   <%= @article.updated_at.strftime("%d/%m/%Y") %></h6>
      <img id="sobreimg" class="img-responsive" src="<%= @article.imagename %>">
      <div id="frameTextoNews"></div>
      <p align="center" ><h2><%= @article.title %></h2></center> <br>
      <h4><%= markdown(@article.content) %></h4>
    </div>
    <a href="/articles"><button id="btnVoltar" type="button" class="btn btn-danger">Voltar</button></a>
  </body>
		  
		</div>
		<p id="notice"><%= notice %></p>
		<!--
		<%= link_to 'Edit', edit_article_path(@article) %> | -->
	
	</body>
</html>