<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap Image Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
    <%= javascript_include_tag 'jquery.blueimp-gallery.min', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>
		<div id="bckgrd-galery" class="col-lg-12" >
				<h4 align="center" >Abaixo separamos algumas fotos para você conhecer um pouco mais do nosso AME!</h4 align="center" >
				<section>
					<div id="links">
						<a href="<%= asset_path('Raiox.jpg') %>" title="Sala Raio X" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('Raiox.jpg') %>" alt="Sala Raio X">
					    </a>
					    <a href="<%= asset_path('DSC3147.jpg') %>" title="Sala de Laudos" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3147.jpg') %>" alt="Sala de Laudos">
					    </a>
					    <a href="<%= asset_path('DSC3158.jpg') %>" title="Mamógrafo" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3158.jpg') %>" alt="Mamógrafo" >
					    </a>
					    <a href="<%= asset_path('DSC3161.jpg') %>" title="Ultrassonografia" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3161.jpg') %>" alt="Ultrassonografia">
					    </a>
					    <a href="<%= asset_path('DSC3167.jpg') %>" title="Consultório Oftalmologia" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3167.jpg') %>" alt="Consultório Oftalmologia">
					    </a>
					    <a href="<%= asset_path('DSC3170.jpg') %>" title="Teste de Esforço Físico" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3170.jpg') %>" alt="Teste de Esforço Físico">
					    </a>
					    <a href="<%= asset_path('DSC3177.jpg') %>" title="Sala de Espera Centro Cirúrgico" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3177.jpg') %>" alt="Sala de Espera Centro Cirúrgico">
					    </a>
					    <a href="<%= asset_path('DSC3182.jpg') %>" title="Pré/Pós Operatório" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3182.jpg') %>" alt="Pré/Pós Operatório">
					    </a>
					    <a href="<%= asset_path('DSC3186.jpg') %>" title="Sala Cirúrgica 1" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3186.jpg') %>" alt="Sala Cirúrgica 1">
					    </a>
					    <a href="<%= asset_path('DSC3188.jpg') %>" title="Sala Cirúrgica 2" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3188.jpg') %>" alt="Sala Cirúrgica 2">
					    </a>
					    <a href="<%= asset_path('DSC3195.jpg') %>" title="Sala Cirúrgica 3" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3195.jpg') %>" alt="Sala Cirúrgica 3">
					    </a>
					    <a href="<%= asset_path('DSC3197.jpg') %>" title="Enfermaria Infantil" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3197.jpg') %>" alt="Enfermaria Infantil">
					    </a>
					    <a href="<%= asset_path('DSC3199.jpg') %>" title="Enfermaria Infantil" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3199.jpg') %>" alt="Enfermaria Infantil">
					    </a>
					    <a href="<%= asset_path('DSC3202.jpg') %>" title="Pré/Pós Procedimentos" data-gallery>
					        <img id="thumb" class="bw pic" src="<%= asset_path('DSC3202.jpg') %>" alt="Pré/Pós Procedimentos">
					    </a>
					</div>

					<div class="container">
						<div class="row" >
							<div class="col-md-4">

								<div id="blueimp-gallery" class="blueimp-gallery">
								    <!-- The container for the modal slides -->
								    <div class="slides"></div>
								    <!-- Controls for the borderless lightbox -->
								    <h3 class="title"></h3>
								    <a class="prev">‹</a>
								    <a class="next">›</a>
								    <a class="close">×</a>
								    <a class="play-pause"></a>
								    <ol class="indicator"></ol>
								    <!-- The modal dialog, which will be used to wrap the lightbox content -->
								    <div class="modal fade">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" aria-hidden="true">&times;</button>
								                    <h4 class="modal-title"></h4>
								                </div>
								                <div class="modal-body next"></div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default pull-left prev">
								                        <i class="glyphicon glyphicon-chevron-left"></i>
								                        Previous
								                    </button>
								                    <button type="button" class="btn btn-primary next">
								                        Next
								                        <i class="glyphicon glyphicon-chevron-right"></i>
								                    </button>
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<br>
		</div>

 
  </body>
</html>