<!DOCTYPE html>
<html>
  <head>
    <title>Remuneração</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      a:hover,
      a:visited,
      a:active,
      a:link {
        text-decoration: none;
      }
      body{
        font-family: 'Roboto', sans-serif;
      }
      span{
        margin-right: 14px
      }
      th.fit{
        font-weight: bold;
        font-size: 12pt;
      }
      td.fit{
        font-size: 11pt;
      }
      table.table {
        margin-right: auto;
        margin-left: auto;
        padding: 0px;
        max-width: 76%
      }
    </style>
  </head>
  <body>
    <br>
    <br>
      <table class="table table-responsive">
        <thead class="thead-light">
          <tr>
            <th class="fit">Nome</th>
            <th class="fit">Estabelecimento</th>
            <th class="fit">Cargo</th>
            <th class="fit">Competência</th>
            <th class="fit">Provento</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <% for remuneracao in @remuneracaos %>
              <td class="fit"><%= remuneracao.nome %></td>
              <td class="fit"><%= remuneracao.estabelecimento %></td>
              <td class="fit"><%= remuneracao.cargo %></td>
              <td class="fit"><%= remuneracao.competencia.strftime("%m/%Y") %></td>
              <td class="fit">R$  <%= '%.2f' % remuneracao.provento %></td>
              <!-- <td><%= link_to 'Show', remuneracao %></td>
              <td><%= link_to 'Edit', edit_remuneracao_path(remuneracao) %></td>
              <td><%= link_to 'Destroy', remuneracao, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Remuneracao', new_remuneracao_path %>
  </body>
</html>