<!DOCTYPE html>
<html>
  <head>
    <title></title>

  </head>
  <body>
    <div class="login">
      <div class="container" >
        <div class="form">

        <h1>Cadastro</h1>

        <%= form_for(@user) do |f| %>
          
          <%= f.text_field :first_name, required: true, :placeholder => "Nome" %>
          <%= f.text_field :last_name, required: true, :placeholder => "Sobrenome" %>
          <%= f.email_field :email, required: true, :placeholder => "Email" %>
          <%= f.password_field :password, required: true, confirmation: true, :placeholder => "Senha" %>
          <%= f.password_field :password_confirmation, required: true, :placeholder => "Senha" %>
          <%= f.submit "Criar usuário", class: "btn-submit", :onclick => "function()" %>
        <% end %>

      
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $("#myModal").modal();
      });
    </script>
  </body>
</html>