<!DOCTYPE html>
<html>
  <head>
    <title>Amefranca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>
  <body class="background-attachment: fixed-bg" bgcolor="#FFFFFF" ondragstart="return false" onselectstart="return false">
    <div class="wrapper">

        <nav>
          <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
          </div>

          <div class="logo" >
            <img src="<%= asset_path('AME2.png') %>" height="30">
          </div>

          <div class="menu">
            <ul>
              <li><a href="#">Página Inicial</a></li>
              <li><a href="#">Notícias</a></li>
              <li><a href="#">Exames</a></li>
              <li><a href="#">Ouvidoria</a></li>
              <li><a href="#">Informações ao Paciente</a></li>
              <li><a href="#">Trabalhe Conosco</a></li>
              <li><a href="#">Transparência</a></li>
            </ul>
          </div>
        </nav>
        <div id="spacing"></div>
        <%= yield %>
    </div>
  </body>
  <script type="text/javascript">

      // Menu-toggle button

      $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
      })


      </script>

</html>
